.burger-header {
  @include flexCenter(row);
  align-items: center;
  width: 272px;
}

.button {
  @include button;
}

.button-close {
  background-image: url('../img/close.png');
  margin-right: 16px;
  background-position: 10px 11px;
  @media (min-width: 1336px) {
    display: none;
  }
}

.button-search {
  background-image: url('../img/search.png');
  margin-left: auto;
  background-position: 10px 11px;
  @media (min-width: 1336px) {
    margin-right: 12px;
  }
}
