.header {
  background-color: $background-white;
  padding: 19px 0;
  border-bottom: 1px solid $button-border;
}

.header-container {
  padding: 0 16px;
}

.header-panel {
  @include flexCenter(row);
  justify-content: space-between;
  align-items: center;
}

.buttons-group {
  @include flexCenter(row);
  justify-content: space-between;
  align-items: center;
}

.button-burger {
  background-image: url('../img/burger.svg');
  margin-right: 16px;
}

.button-phone {
  background-image: url('../img/call.svg');
}

.button-message {
  background-image: url('../img/chat.svg');
}

.button-profile {
  background-image: url('../img/profile.svg');
}

.divider-logo {
  width: 2px;
  height: 32px;
  vertical-align: super;
  background-color: $border-color;
  margin-left: 16px;
}

.button-repair {
  background-image: url('../img/repair.svg');
  margin-right: 16px;
}

.button-checkstatus {
  background-image: url('../img/checkstatus.svg');
}

@media (max-width: 650px) {
  .button-phone,
  .button-message,
  .button-profile {
    display: none;
  }
}

@media (min-width: 651px) and (max-width: 1119px) {
  .header-container {
    padding: 0 24px;
  }

  .divider-logo {
    display: none;
  }

  .divider-burger {
    width: 2px;
    height: 32px;
    vertical-align: super;
    background-color: $border-color;
    margin-left: 4px;
    margin-right: 16px;
  }

  .button-phone,
  .button-message,
  .button-profile,
  .button-repair {
    display: inline-block;
    margin-right: 16px;
  }

  .button-repair {
    margin-left: 24px;
  }

  .divider-profile {
    display: inline-block;
    vertical-align: super;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-left: 6px;
    margin-top: 4px;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
