.main-page {
  background-color: $background-white;
  margin: 0 auto;
  @media (min-width: 1336px) {
    display: grid;
    grid-template-columns: 21% 79%;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      1px 0px 16px rgba(14, 24, 80, 0.2);
  }
}

.main-content {
  @media (min-width: 1336px) {
    padding-left: 12px;
  }
}

.page-blur {
  opacity: 0.03;
  transition: all 0.2s;
}

.fixed {
  position: fixed;
}
