.repair-devices {
  background-color: $background-main;
  border-top: 1px solid $titleBorder;
}

.repair-devices__title {
  @include repairTitle;
}

.devices-catalogue {
  padding-top: 12px;
}

.devices-catalogue__list {
  @include flexCenter(row);
  padding-top: 16px;
  padding-left: 14px;
  padding-right: 16px;
}

.devices-card {
  @include flexCenter(column);
  height: 160px;
  box-sizing: border-box;
  background: $background-white;
  border: 1px solid $border-color;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.devices-card__text {
  @include textFormatting;
  font-weight: 600;
  margin-right: 0;
  align-self: flex-start;
  padding: 16px;
}

.devices-card__button {
  background-image: url('../img/button-go.svg');
  background-color: $background-white;
  align-self: flex-end;
  margin: 16px;
}

.show-all-devices {
  display: none;
}

@media (min-width: 768px) and (max-width: 1019px) {
  .repair-devices__title {
    height: 56px;
    padding: 16px;
  }

  .devices-catalogue__list {
    flex-wrap: wrap;
    overflow: hidden;
    height: 555px;
    transition: all ease-in-out 300ms;
    padding-left: 24px;
  }

  .devices-catalogue__list--hidden {
    height: 175px;
  }

  .devices-card {
    width: 224px;
    margin-right: 26px;
  }

  .show-all-devices {
    display: flex;
    flex-direction: row;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #1b1c21;
    justify-content: flex-start;
    align-items: center;
    background-color: #f8f8f8;
    padding: 8px 32px 16px;
    transition: all ease-in-out 1s;
  }

  .show-less__devices-icon {
    margin-right: 8px;
    transform: rotate(180deg);
    transition: all ease-in-out 300ms;
  }

  .show-all__devices-icon {
    margin-right: 8px;
    transform: rotate(0);
    transition: all ease-in-out 300ms;
  }

  .show-all_button-devices {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}

@media (min-width: 1020px) and (max-width: 1365px) {
  .repair-devices__title {
    height: 56px;
    padding: 16px;
    margin-left: 12px;
  }

  .devices-catalogue {
    padding-top: 24px;
  }

  .devices-catalogue__list {
    flex-wrap: wrap;
    overflow: hidden;
    height: 366px;
    transition: all ease-in-out 300ms;
  }

  .devices-catalogue__list--hidden {
    height: 170px;
  }

  .devices-card {
    width: 240px;
    margin-right: 12px;
  }

  .repair-devices > .show-all {
    padding: 8px 19px 16px;
  }

  .show-all-devices {
    display: flex;
    padding-top: 12px;
    padding-left: 24px;
  }

  .show-less__devices-icon {
    margin-right: 8px;
    transform: rotate(180deg);
    transition: all ease-in-out 300ms;
  }

  .show-all__devices-icon {
    margin-right: 8px;
    transform: rotate(0);
    transition: all ease-in-out 300ms;
  }

  .show-all_button-devices {
    @include textFormatting;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}

@media (min-width: 1336px) and (max-width: 1440px) {
  .repair-devices__title {
    height: 56px;
    padding: 16px;
    margin-left: 12px;
  }

  .devices-catalogue {
    padding-top: 24px;
  }

  .devices-catalogue__list {
    flex-wrap: wrap;
    overflow: hidden;
    height: 366px;
    transition: all ease-in-out 300ms;
    padding-left: 32px;
    padding-top: 0;
  }

  .devices-catalogue__list--hidden {
    height: 170px;
  }

  .devices-card {
    width: 240px;
    margin-right: 16px;
  }

  .show-all-devices {
    display: flex;
    padding-top: 12px;
    padding-left: 35px;
    padding-bottom: 27px;
  }

  .show-less__devices-icon {
    margin-right: 8px;
    transform: rotate(180deg);
    transition: all ease-in-out 300ms;
  }

  .show-all__devices-icon {
    margin-right: 8px;
    transform: rotate(0);
    transition: all ease-in-out 300ms;
  }

  .show-all_button-devices {
    @include textFormatting;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}

@media (min-width: 1440px) {
  .repair-devices__title {
    height: 56px;
    padding: 16px;
    margin-left: 12px;
  }

  .devices-catalogue {
    padding-top: 24px;
  }

  .devices-catalogue__list {
    flex-wrap: wrap;
    overflow: hidden;
    height: 366px;
    transition: all ease-in-out 300ms;
    padding-left: 32px;
    padding-top: 0;
  }

  .devices-catalogue__list--hidden {
    height: 170px;
  }

  .devices-card {
    width: 240px;
    margin-right: 32px;
  }

  .show-all-devices {
    display: flex;
    padding-top: 12px;
    padding-left: 35px;
    padding-bottom: 27px;
  }

  .show-less__devices-icon {
    margin-right: 8px;
    transform: rotate(180deg);
    transition: all ease-in-out 300ms;
  }

  .show-all__devices-icon {
    margin-right: 8px;
    transform: rotate(0);
    transition: all ease-in-out 300ms;
  }

  .show-all_button-devices {
    @include textFormatting;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}
