.repair-prices {
  background-color: $background-main;
  border-top: 1px solid $titleBorder;
}

.repair-prices__title {
  @include titleFormatting;
  padding-left: 24px;
  @media (max-width: 767px) {
    padding-left: 16px;
  }
  @media (min-width: 768px) and (max-width: 1120px) {
    padding-left: 24px;
  }
}

.price-list__catalogue {
  @include flexCenter(row);
  padding-top: 16px;
  padding-bottom: 32px;
  margin-left: 12px;
  @media (min-width: 768px) {
    display: none;
  }
}

.price-list__card {
  @include flexCenter(column);
  box-sizing: border-box;
  background-color: $background-white;
  border: 1px solid $border-color;
  border-radius: 6px;
  line-height: 16px;
  justify-content: space-between;
  min-width: 260px;
  min-height: 200px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-right: 10px;
}

.card__text {
  @include textFormatting;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 13px;
}

.card__text::first-line {
  color: $text-grey;
  font-size: 14px;
  line-height: 16px;
}

.card__text br {
  display: flex;
}

.card__bottom {
  @include flexCenter(row);
  justify-content: space-between;
  align-items: center;
}

.button-order {
  width: 119px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  background-image: url('../img/button-to-order.svg');
}

.price-list-new {
  display: grid;
  padding-top: 8px;
  margin-bottom: 32px;
  @media (max-width: 767px) {
    display: none;
  }
}

.price-list-new-header {
  @include gridTablet;
  @include gridHeader;
  @include textFormatting;
  height: 64px;
  padding-left: 20px;
  @media (min-width: 767) and (max-width: 1440px) {
    padding-left: 24px;
  }
}

.price-list-new-content {
  background-color: $background-white;
  border-radius: 10px;
  margin-right: 32px;
  margin-left: 32px;
  @media (min-width: 768px) and (max-width: 1440px) {
    margin-right: 24px;
    margin-left: 24px;
  }
}

.price-list-new-tablet {
  @include gridTablet;
  @include textFormatting;
  font-size: 14px;
  border-bottom: 2px solid #eaeaea;
  height: 64px;
}

.price-list-new-tablet__column--button {
  margin-left: 16px;
}

.prices-info {
  @include textFormatting;

  @media (max-width: 767px) {
    padding-left: 12px;
  }
  @media (min-width: 767px) and (max-width: 1199px) {
    padding-left: 32px;
  }
  @media (min-width: 1200px) {
    padding-left: 32px;
  }
}

.prices-info__text {
  max-width: 421px;
  margin-bottom: 32px;
  font-size: 14px;
  @media (max-width: 767px) {
    line-height: 20px;
    margin-bottom: 0;
  }
  @media (min-width: 767px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.prices-info__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: $textColor;
  padding-top: 16px;
  padding-bottom: 50px;

  @media (max-width: 767px) {
    width: 206px;
    padding-bottom: 40px;
  }
}

.prices-info__arrow {
  padding-left: 10px;
  @media (max-width: 767px) {
    position: relative;
    left: -102px;
  }
}
