$background-white: #ffffff;
$background-main: #f8f8f8;
$button-border: #b8ffec;
$button-color: #ff3e79;
$text-grey: #7e7e82;
$border-color: #eaeaea;
$pagination: #dddddd;
$paginationActive: #b5b6bc;
$textColor: #1b1c21;
$stripColor: #41f6d7;
$titleBorder: #d9fff5;
